/* set default styles to ensure consistent font and padding behaviour */
body 
{
    margin:0;
    padding:0;
    background-color:#667788;
}

div, td, p, th, ul, ol
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:100%;
    line-height:125%;
}

ul, ol
{
    margin-top:0.5em;
}


/* utility styles */
.clear 
{
    clear:both;
    height:0;
    font-size:0;
}

.sidebar_header
{
    font-weight:bold;
    font-size:120%;
    margin-bottom:0px;
}

#main_page_header
{
    font-size:125%;
    font-weight:bold;
    text-decoration:underline;
    margin-bottom:10px;
}


/* elements in two_column */
#two_column_wrapper
{
    /*border:2px solid green;*/
    position:relative;
    text-align:left;
    padding-right:325px;
}

#main_column
{
    /*border:1px solid blue;*/
    background-color:#F0F0F0;
    padding:0.5em;
    float:left;
    position:relative;
    margin-right:25px;
    width:100%;
    min-width:800px;
    z-index:12;
}

#sidebar
{
    float:left;
    margin-right:-325px;
    position:relative;
    width:275px;
    z-index:11;
    font-size:75%;
    background-color:#AABBCC;
    padding:0.5em;
}


/* elements in three_block */
#top_block
{
    /*border:2px solid green;*/
    position:relative;
    text-align:left;
    padding-right:325px;
}


#bottom_block
{
  margin-top:0.5em;
}

#browse_sidebar
{
    float:left;
    margin-right:-325px;
    position:relative;
    width:275px;
    z-index:11;
    padding:0.5em;
    background-color:#CCCCCC;
    height:504px;
}


/* elements in base */
#content_container
{
    /* border:1px solid yellow; */
    min-width:1125px;
    width:90%;
    margin:auto;
    padding:0;
    position:relative;
    top:1em;
}


/* elements in masthead */
#masthead
{
    margin:0;
    width:auto;
    font-size:80%;
    padding:.5em 2em;
    background-color:#DDDDDD;
    border-bottom:2px solid black;
    border-right:2px solid black;
}

#home_nav
{
    display:inline;
    float:left;
    text-align:left;
}

#welcome_message
{
    display:inline;
    float:right;
    text-align:right;
    margin-left:3em;
    margin-right:5em;
}

#masthead a
{
    font-size:120%;
    font-weight:bold;
    padding:0.5em;
}



/* elements in mbrowser */
.mbrowser
{
  background-color:#EEEEEE;
}