{% extends "base.html" %}

{% block title %}Course Media{% endblock %}

{% block header %}

<script type="text/javascript">


  
  // called from body.onload to set up listeners that will wait for quicktime
  // movie to send events
  
  function RegisterListeners()
  {
  	// when the movie loads, it will set the end time to the duration of the movie

  }
  

</script>

{% endblock %}


{% block content %}


  <div id="movie_div" style="float:left;align:left"></div>


  <div>
    <table border="0" style="align:center;display:block">
      <tr>
	<th>
	</th>
	<th>
	</th>
	<th>
	</th>
	<th>
	</th>
      </tr>
      <tr>
	<td colspan="4">
	  <h2>View more Videos with the same:</h2>
	</td>
      </tr>
      <tr>
	<th>
	  <a href="/web/show_for_topic/{{ta.topic}}/">Topic</a>
	</th>
	<th>
	  <a href="/web/show_for_author/{{ta.video.author.username}}/">Author</a>
	</th>
	<th>
	  <a href="/web/show_for_semester/{{ta.video.semester}}/">Semester</a>
	</th>
	<th>
	  <a href="/web/show_for_type/{{ta.video.type}}/">Type</a>
	</th>
      </tr>
    </table>
  </div>
    
    
    {% endblock %}
