<html>
<head>
<title>Quicktime Template</title>

<script type="text/javascript" src="../media/AC_QuickTime.js"></script>
<script type="text/javascript" src="../media/common_quicktime_methods.js"></script>

</head>
<body>
<form>
<table>
<tr>
<td colspan="4" align="center">

	<div id="movie_div"></div>

	<script type="text/javascript">
    
    var params = {  'movie_source'         : 'correcto.mov',
                    'height'               : parseInt('500'),
                    'width'                : parseInt('190'),
                    'should_resize'        : parseBool('true'),
                    'should_set_run_times' : parseBool('true'),
                    'start_time'           : parseInt('230'),
                    'end_time'             : parseInt('1022')       }

    display_video(params);
    
  
    // extra functions and listeners can be defined here
		function meta_loader()
		{
		  update_dimension_fields('video_height', 'video_width');
		  initialize_times();
		}
		
    RegisterListener('qt_loadedmetadata', 'movie1', 'movie1_emb', meta_loader);
		// end of extra functions

	</script>

</td>
</tr>
<tr valign="bottom">
<td align="center" colspan="2">Start Time</td>
<td align="center" colspan="2">End Time</td>
</tr>
<tr valign="top">
<td align="right">
	<input type="text" id="start_time_display" value="00:00:00" size="8" />
	<input type="text" id="start_time_units" name="start_time_units" value="0" />
</td>
<td align="left"><input type="button" onclick="set_time_fields('start_time_units', 'start_time_display');" value="Set to Now" /></td>
<td align="right">
	<input type="text" id="end_time_display" value="00:00:00" size="8" />
	<input type="text" id="end_time_units" name="end_time_units" />
</td>
<td align="left"><input type="button" onclick="set_time_fields('end_time_units', 'end_time_display');" value="Set to Now" /></td>
</tr>
<tr>
<td colspan="4" align="center">
<br />
Topic: <select>
	<option>Must choose one...</option>
	<option>Topic Foo</option>
</select>
<input type="text" id="video_height" name="video_height" value="0" />
<input type="text" id="video_width" name="video_width"  value="0" />
<input type="submit" value="Save" onclick="alert(document.getElementById('video_height').value); alert(document.getElementById('video_width').value); return false;" />
<br />(Start and End time must be set.)</td>
</tr>
</table>
</form>

<p>Staff member viewing video clicks "Set to Now" button under start time.<br />
 - Start time field value is set to playhead position via Javascript.<br />
 - Optional: Pressing Set to Now pauses video. User must click Play again to restart.</p>

<p>Staff member viewing clicks "Set to Now" button under end time (default value can be end of video).<br />
 - End time field value is set to playhead position via Javascript.<br />
 - ?what's the format off this offset at this time?</p>

<p>User must select a topic from a dropdown<br />
 - When start time, end time, and topic are all set, user can save</p>

</body>
</html>